<!DOCTYPE html>
<html>
<head>
	<title>KYC Frontend</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta charset='utf-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<base href="/">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" /> -->
  <link rel="stylesheet" type="text/css" href="assets/css/splash.css">
	<link rel="stylesheet" href="styles.css" />
	<style>#str-dlls { display: none }</style>
</head>
<body>
	<my-app>
		<div id="splash">
      <div class="spinner-1" style="visibility:hidden;"></div>
      <h3>Tokenizing world ...</h3>
      <h1>BANKEX</h1>
      <h3>KYC Demo</h3>
    </div>
	</my-app>
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=console.*,Intl.~locale.en&gated=1"></script>
	<% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
  <!-- DLL files -->
		<script src="/polyfill.dll.js"></script>
		<script src="/vendor.dll.js"></script>
  <% } %>
  <script>
    setTimeout(function() {
      const splash = document.getElementById('splash')
      splash && (splash.getElementsByClassName('spinner-1')[0].style.visibility = "visible");
    }, 3000);
  </script>
</body>
</html>
