<section>
  <form class="form-group" [formGroup]="form" (ngSubmit)="submitState()" autocomplete="off">
		<div class="form-group">
			<label for="password">Enter your name</label>
			<input formControlName="name" id="password" [placeholder]="nameLabel">
      <button class="btn btn-primary">Update store</button>
      <button class="btn btn-primary" type="button" (click)="clearName()">Clear name</button>
		</div>
	</form>
  <h5>
		<div>Current Count: {{ counter | async }}</div>
    <button (click)="increment()">Increment</button>
		<button (click)="decrement()">Decrement</button>
		<button (click)="reset()">Reset Counter</button>
  </h5>
</section>
